<div class="mune mune-action mune-{{actionType}}">
    <h2>{{title}}</h2>
    
    {{#if flavor}}<p><span class="flavor">{{flavor}}</span></p>{{/if}}

    <p class="content">
        <a class="inline-roll inline-result" data-roll="{{roll.json}}">
            <i class="fas fa-dice-d20"></i> {{roll.total}}
        </a>
        <span class="result">{{result}}</span>{{#if resultSuffix}}<span class="suffix"> ({{resultSuffix}})</span>{{/if}}
    </p>
</div>