<div class="mune-help">

  {{!-- Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="oracle">{{localize "mune.Oracle.Name"}}</a>
    <a class="item" data-tab="intervention">{{localize "mune.Intervention.Name"}}</a>
    <a class="item" data-tab="portent">{{localize "mune.Portent.Name"}}</a>
    <a class="item" data-tab="npc-interaction">{{localize "mune.NPCInteraction.Name"}}</a>
    <a class="item" data-tab="twene">{{localize "mune.TWENE.Name"}}</a>
  </nav>

  <section class="content">
    <div class="tab" data-tab="oracle">
      <h1>{{localize "mune.Oracle.Name"}}</h1>

      <p>{{localize "mune.Oracle.Help.1"}}</p>
      <p>{{localize "mune.Oracle.Help.2"}}</p>

      <table>
        <tr>
          <th colspan="2">{{localize "mune.Oracle.Name"}}</th>
        </tr>
        <tr>
          <th>d6</th>
          <th>{{localize "mune.Answer"}}</th>
        </tr>
        <tr>
          <td>1</td>
          <td>{{localize "mune.Oracle.1"}}</td>
        </tr>
        <tr>
          <td>2</td>
          <td>{{localize "mune.Oracle.2"}}</td>
        </tr>
        <tr>
          <td>3</td>
          <td>{{localize "mune.Oracle.3"}}</td>
        </tr>
        <tr>
          <td>4</td>
          <td>{{localize "mune.Oracle.4"}}</td>
        </tr>
        <tr>
          <td>5</td>
          <td>{{localize "mune.Oracle.5"}}</td>
        </tr>
        <tr>
          <td>6</td>
          <td>{{localize "mune.Oracle.6"}}</td>
        </tr>
      </table>

      <p>{{localize "mune.Oracle.Help.3"}}</p>
      <p>{{localize "mune.Oracle.Help.4"}}</p>
    </div>

    <div class="tab" data-tab="intervention">
      <h1>{{localize "mune.Intervention.Name"}}</h1>

      <p>{{localize "mune.Intervention.Help.1"}}</p>
      <p>{{localize "mune.Intervention.Help.2"}}</p>
      <p>{{localize "mune.Intervention.Help.3"}}</p>
      <p>{{localize "mune.Intervention.Help.4"}}</p>

      <table>
        <tr>
          <th colspan="2">{{localize "mune.Intervention.Name"}}</th>
        </tr>
        <tr>
          <th>d6</th>
          <th>{{localize "mune.Type"}}</th>
        </tr>
        <tr>
          <td>1</td>
          <td>{{localize "mune.Intervention.1"}}</td>
        </tr>
        <tr>
          <td>2</td>
          <td>{{localize "mune.Intervention.2"}}</td>
        </tr>
        <tr>
          <td>3</td>
          <td>{{localize "mune.Intervention.3"}}</td>
        </tr>
        <tr>
          <td>4</td>
          <td>{{localize "mune.Intervention.4"}}</td>
        </tr>
        <tr>
          <td>5</td>
          <td>{{localize "mune.Intervention.5"}}</td>
        </tr>
        <tr>
          <td>6</td>
          <td>{{localize "mune.Intervention.6"}}</td>
        </tr>
      </table>

      <h2>{{localize "mune.Intervention.1"}}</h2>

      <p>{{localize "mune.Intervention.Help.Types.1.1"}}</p>
      <p>{{localize "mune.Intervention.Help.Types.1.2"}}</p>

      <h2>{{localize "mune.Intervention.2"}}/{{localize "mune.Intervention.3"}}</h2>

      <p>{{localize "mune.Intervention.Help.Types.2.1"}}</p>
      <p>{{localize "mune.Intervention.Help.Types.2.2"}}</p>

      <ul>
        <li>{{localize "mune.Intervention.Help.Types.2.Positives.1"}}</li>
        <li>{{localize "mune.Intervention.Help.Types.2.Positives.2"}}</li>
        <li>{{localize "mune.Intervention.Help.Types.2.Positives.3"}}</li>
      </ul>

      <p>{{localize "mune.Intervention.Help.Types.2.3"}}</p>

      <ul>
        <li>{{localize "mune.Intervention.Help.Types.2.Negatives.1"}}</li>
        <li>{{localize "mune.Intervention.Help.Types.2.Negatives.2"}}</li>
        <li>{{localize "mune.Intervention.Help.Types.2.Negatives.3"}}</li>
      </ul>

      <h2>{{localize "mune.Intervention.4"}}/{{localize "mune.Intervention.5"}}</h2>

      <p>{{localize "mune.Intervention.Help.Types.4.1"}}</p>
      <p>{{localize "mune.Intervention.Help.Types.4.2"}}</p>

      <h2>{{localize "mune.Intervention.6"}}</h2>

      <p>{{localize "mune.Intervention.Help.Types.6.1"}}</p>
    </div>

    <div class="tab" data-tab="portent">
      <h1>{{localize "mune.Portent.Name"}}</h1>

      <p>{{localize "mune.Portent.Help.1"}}</p>
      <p>{{localize "mune.Portent.Help.2"}}</p>

      <ul>
        <li>{{localize "mune.Portent.Help.Oracle.1"}}</li>
        <li>{{localize "mune.Portent.Help.Oracle.2"}}</li>
        <li>{{localize "mune.Portent.Help.Oracle.3"}}</li>
      </ul>

      <p>{{localize "mune.Portent.Help.3"}}</p>
      <p>{{localize "mune.Portent.Help.4"}}</p>
      <p>{{localize "mune.Portent.Help.5"}}</p>
    </div>

    <div class="tab" data-tab="npc-interaction">
      <h1>{{localize "mune.NPCInteraction.Name"}}</h1>

      <p>{{localize "mune.NPCInteraction.Help.1"}}</p>
      <p>{{localize "mune.NPCInteraction.Help.2"}}</p>

      <table>
        <tr>
          <th>d3</th>
          <th>{{localize "mune.Attitude"}}</th>
        </tr>
        <tr>
          <td>1</td>
          <td>{{localize "mune.NPCInteraction.Help.StartingAttitude.1"}}</td>
        </tr>
        <tr>
          <td>2</td>
          <td>{{localize "mune.NPCInteraction.Help.StartingAttitude.2"}}</td>
        </tr>
        <tr>
          <td>3</td>
          <td>{{localize "mune.NPCInteraction.Help.StartingAttitude.3"}}</td>
        </tr>
      </table>

      <p>{{localize "mune.NPCInteraction.Help.3"}}</p>
    </div>

    <div class="tab" data-tab="twene">
      <h1>{{localize "mune.TWENE.Name"}}</h1>

      <p>{{localize "mune.TWENE.Help.1"}}</p>
      <p>{{localize "mune.TWENE.Help.2"}}</p>
      <p>{{localize "mune.TWENE.Help.3"}}</p>
      <p>{{localize "mune.TWENE.Help.4"}}</p>
      <p>{{localize "mune.TWENE.Help.5"}}</p>
      <p>{{localize "mune.TWENE.Help.6"}}</p>
      <p>{{localize "mune.TWENE.Help.7"}}</p>

      <table>
        <tr>
          <th colspan="2">{{localize "mune.TWENE.Name"}}</th>
        </tr>
        <tr>
          <th>d10</th>
          <th>{{localize "mune.Result"}}</th>
        </tr>
        <tr>
          <td>1</td>
          <td>{{localize "mune.TWENE.1"}}</td>
        </tr>
        <tr>
          <td>2</td>
          <td>{{localize "mune.TWENE.2"}}</td>
        </tr>
        <tr>
          <td>3</td>
          <td>{{localize "mune.TWENE.3"}}</td>
        </tr>
        <tr>
          <td>4</td>
          <td>{{localize "mune.TWENE.4"}}</td>
        </tr>
        <tr>
          <td>5</td>
          <td>{{localize "mune.TWENE.5"}}</td>
        </tr>
        <tr>
          <td>6</td>
          <td>{{localize "mune.TWENE.6"}}</td>
        </tr>
        <tr>
          <td>7</td>
          <td>{{localize "mune.TWENE.7"}}</td>
        </tr>
        <tr>
          <td>8</td>
          <td>{{localize "mune.TWENE.8"}}</td>
        </tr>
        <tr>
          <td>9</td>
          <td>{{localize "mune.TWENE.9"}}</td>
        </tr>
        <tr>
          <td>10</td>
          <td>{{localize "mune.TWENE.10"}}</td>
        </tr>
      </table>

      <p>{{localize "mune.TWENE.Help.8"}}</p>

      <h2>{{localize "mune.TWENE.Help.Types.1.Name"}}</h2>

      <p>{{localize "mune.TWENE.Help.Types.1.1"}}</p>

      <h2>{{localize "mune.TWENE.Help.Types.2.Name"}}</h2>

      <p>{{localize "mune.TWENE.Help.Types.2.1"}}</p>

      <h2>{{localize "mune.TWENE.Help.Types.3.Name"}}</h2>

      <p>{{localize "mune.TWENE.Help.Types.3.1"}}</p>

      <h2>{{localize "mune.TWENE.Help.Types.4.Name"}}</h2>

      <p>{{localize "mune.TWENE.Help.Types.4.1"}}</p>
    </div>
  </section>
</div>
